html {
    background: #A8ECC5 url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612706197_14-p-zelenii-fon-odnotonnii-gradient-15.jpg);
    height: 100%;
    line-height: 1.5;
    font-size: 17px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin: 0 0 15px;
}

.app {
    overflow: hidden;
}

.app-nodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.app-node {
    width: 48.5%;
    min-width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #E6F9EE;
    border-radius: 5px;
}

input {
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #199d54;
}

button,
.button {
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #199d54;
    font-weight: 600;
}

button:not(button:disabled),
.button {
    background-color: #48e88c;
    color: #212121;
}

button:hover:not(button:disabled),
.button:hover {
    background-color: #8dfdba;
    cursor: pointer;
}

/*Navbar*/

.nav {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    transition: all 1s;
    transform: translateX(-280px);
    margin-bottom: 20px;
}

.nav:hover {
    transform: translateX(0);
    transition: all 1s;
}

.nav-menu {
    display: inline-flex;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 0 10px;
    text-transform: capitalize;
    color: #002200;
    text-decoration: none;
    border: solid 1px #002200;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #8dfdba;
}

.nav-item-active {
    background-color: #E6F9EE;
}

